body{
    margin: 0%;
    padding: 0%;
    
}
.navbar h1{
    color: white;
    margin-top: 0%;
    padding-top: 0%;
}
.mid{
    display: block;
    background-color: black;
    width: 100%;
    margin: 0px auto;

}.navbar{
    display: inline-block;
   
}
.navbar li{
    display: inline-block;
    font: 25px;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    border-radius: 20px;
}
.container{
    text-align: center;
}