body{
    margin: 0%;
    padding: 0%;
    
  }
  .navbar h1{
    color: white;
    margin-top: 0%;
    padding-top: 0%;
    font-size: 30px;
  }
  .mid{
    display: block;
    background-color: black;
    width: 100%;
    margin: 0px auto;
  
  }.navbar{
    display: inline-block;
   
  }
  .navbar li{
    display: inline-block;
    font: 25px;
  }
  .navbar a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
  }
  .navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    border-radius: 20px;
  }
  h2{
  text-align: center;
  }
  .container{
    padding-left: 550px;
  }
  .blah{
    font-size: 25px;
  }
  button{
    background-color: black;
    color: azure;
    padding: 5px 15px;
    border-radius: 10px;
  }
  button:hover{
    background-color: white;
    color: black;
  }
  #title{
    width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 14px;
  resize: vertical;
  }
  .bom{
    width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  tr {
    border: solid;
    border-width: 1px 0;
  }